.cards-container {
    max-width: 1300px;
    width: 100%;
    margin: auto;
}

section {
     display: flex;
     flex-direction: column;
     align-items: center;
}
.card-container {
display: flex;
flex-wrap: wrap;
justify-content: space-between;

}

.card {
    flex: 10px 10px calc(33.33% - 20px);
    max-width: calc(33.33% -20px);
    border: 1px solid rgb(228, 228, 228);
    border-radius: 10px;
    padding: 40px;
    width: 350px; 
    height: 250px;
    margin: 20px;
    min-width: 300px;
    margin-bottom: 20px;
    
}

.cardcontent strong{
    float: left;
}

.loading {
    margin: 20px;
    font-size: 30px;

}
.link1 {
    color: black;
}
.undefined {
    display: none;
}